@use "@/styles/variables.module.scss" as *;

.blockWrapper {
  border: 1px solid $color-black;
  height: 54px;
  width: 70px;
}

.tableElement {
  height: 100%;
  width: 100%;
  font-size: $font-size-base;
  text-align: center;
}

.trElement {
  > th {
    border-bottom: 1px solid $color-black;
  }
}
