// TODO: 色の調整、font-sizeの調整

$color-black: #000;
$color-white: #fff;
$color-red: #ff0000;
$color-gray: #b0b0b0;

$color-bg-gray: #f3f3f3;
$color-bg-red: #ffcccc;

$font-size-input: 20px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 30px;
