$color-black: #231816;
$color-white: #fff;
$color-red: #f04343;
$color-gray: #757575;

$color-bg-gray: #efefef;
$color-bg-red: rgba(
  $color: $color-red,
  $alpha: 0.4,
);

$font-size-header: 32px;
$font-size-title: 24px;
$font-size-input: 20px;
$font-size-base: 16px;
