.bodyWrapper {
  width: 100%;
  max-width: 544px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonWrapper {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  gap: 10px;

  > .button {
    padding: auto;
  }
}

.formElement {
  > .textarea {
    font-size: 16px;
    line-height: 1;
    width: 100%;
    height: 100px;
    padding: 10px 5px;
    border: 1px solid #000000;
  }

  > .hiragana {
    color: #5a5a5a;
  }
}

.moaiTextWrapper {
  position: relative;

  > .textarea {
    position: absolute;
    top: 0;
    caret-color: #000000;
    background-color: transparent;
    color: transparent;
  }

  > .textarea::selection {
    background-color: rgba($color: #b2b2b2, $alpha: 0.5);
  }
}

.displayArea {
  font-size: 16px;
  line-height: 1;
  width: 100%;
  height: 100px;

  padding: 10px 5px;
  overflow-y: scroll;
  white-space: pre-wrap;

  > .error {
    color: red;
    background-color: #ffa1a1;
  }
}

.validationError {
  color: red;

  > .error {
    background-color: #ffa1a1;
  }
}
